body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

.headerLink {
    border-bottom: 2px solid #F2F2F2 ;
}

.headerLink:focus {
    border-top: 2px solid #0065FC;
    border-bottom: none;

}

.signup {
    color: #0065FC;
    font-weight: bold;
}