body {
    font-family: 'Raleway', sans-serif;
}

.doc_page {
    width: auto;
}

header  div {
    display: flex;
}

a {
    text-decoration: none;
}

.headerLink {
    border-bottom: 2px solid #F2F2F2 ;
}

.headerLink:focus {
    border-top: 2px solid #0065FC;
    border-bottom: none;

}

.signup {
    color: #0065FC;
    font-weight: bold;
}

#hébergement {
    display: flex;
    flex-direction: column-reverse;
    
}

#list_héberg {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    
}

#plus_pop {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    
    
    
}

.cardcol {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    
}

.cardcol img {

    width: 20px;    
    
}

.cardrow {
    background-color: #FFFFFF;
    display: flex;
    flex: 1;
    align-items: space-between;
    justify-content: space-evenly;
}

.cardrow  img {
    max-width: 130px;
    max-height: 135px;
     
}

@media screen and (max-device-width: 768px) {

    .bloc_page {
        width: auto;
    }

    #hébergement {
        width: auto;
    }

    #list_héberg {
        width: auto;
    }

    #plus_pop {
        width: auto;
        align-items: center;
        justify-content: space-between;
    }

    .cardrow {
        width: 80%;
        height: 5%;
    }

    .cardrow img {
        width: 40%;
        height: 95%;
        overflow: hidden;
    }
    
}